<!DOCTYPE html>
<html lang="en" data-ng-app="AppPortfolio">
<head>
    <meta charset="utf-8">
	<!-- <base href="/"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap Sility - vCard, CV & Resume HTML Template">
    <meta name="keywords" content=" minimal html cv resume template,signature resume cv portfolio html template">
    <meta name="author" content="Varun Sridharan [TechNoFreaky]"> 
    <meta property="og:title" content="Sility - vCard, CV & Resume HTML Template"/>
    <meta property="og:description" content="Responsive Bootstrap Sility - vCard, CV & Resume HTML Template" />
    <meta property="og:url" content="http://www.example.com" />
    <meta property="og:site_name" content="Sility - vCard"/>
    <meta property="og:image" content="http://example.com/ogp.jpg" />

    <meta name="twitter:card" content="Summary">

    <meta name="twitter:site" content="@SiteName">

    <meta name="twitter:creator" content="@AuthorHandle">

    <meta name="twitter:title" content="Article Title ">

    <meta name="twitter:description" content="Page Description">

    <meta name="twitter:image:src" content="Image URL">

    <title>Ramesh Kumar</title>

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Icons -->
    <link href="/css/front/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Ionicons -->
    <link href="/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="/css/front/owl.carousel.css" rel="stylesheet">
    <link href="/css/front/owl.theme.default.css" rel="stylesheet">
    <!-- Style.css -->
    <link rel="alternate stylesheet" title="amber" type="text/css"  data-color="#FFC107" href="/css/front/color/amber.css"  />
    <link rel="alternate stylesheet" title="black" type="text/css"  data-color="#374046" href="/css/front/color/black.css"  />
    <link rel="alternate stylesheet" title="blue" type="text/css"  data-color="#2196F3" href="/css/front/color/blue.css"  />
    <link rel="alternate stylesheet" title="blue_grey" type="text/css"  data-color="#607D8B" href="/css/front/color/blue_grey.css"  />
    <link rel="alternate stylesheet" title="brown" type="text/css"  data-color="#795548" href="/css/front/color/brown.css"  />
    <link rel="alternate stylesheet" title="cayan" type="text/css"  data-color="#00BCD4" href="/css/front/color/cayan.css"  />
    <link rel=" stylesheet" title="deep_orange" type="text/css"  data-color="#FF5722" href="/css/front/color/deep_orange.css"  />
    <link rel="alternate stylesheet" title="deep_purple" type="text/css"  data-color="#673AB7" href="/css/front/color/deep_purple.css"  />
    <link rel="alternate stylesheet" title="green" type="text/css"  data-color="#4CAF50" href="/css/front/color/green.css"  />
    <link rel="alternate stylesheet" title="grey" type="text/css"  data-color="#9E9E9E" href="/css/front/color/grey.css"  />
    <link rel="alternate stylesheet" title="indigo" type="text/css"  data-color="#3F51B5" href="/css/front/color/indigo.css"  />
    <link rel="alternate stylesheet" title="light_blue" type="text/css"  data-color="#03A9F4" href="/css/front/color/light_blue.css"  />
    <link rel="alternate stylesheet" title="light_green" type="text/css"  data-color="#8BC34A" href="/css/front/color/light_green.css"  />
    <link rel="alternate stylesheet" title="lime" type="text/css"  data-color="#CDDC39" href="/css/front/color/lime.css"  />
    <link rel="alternate stylesheet" title="orange" type="text/css"  data-color="#FF9800" href="/css/front/color/orange.css"  />
    <link rel="alternate stylesheet" title="pink" type="text/css"  data-color="#E91E63" href="/css/front/color/pink.css"  />
    <link rel="alternate stylesheet" title="purple" type="text/css"  data-color="#9C27B0" href="/css/front/color/purple.css"  />
    <link rel="alternate stylesheet" title="red" type="text/css"  data-color="#F44336" href="/css/front/color/red.css"  />
    <link rel="alternate stylesheet" title="teal" type="text/css"  data-color="#009688" href="/css/front/color/teal.css"  />
    <link rel="alternate stylesheet" title="yellow" type="text/css"  data-color="#FFEB3B" href="/css/front/color/yellow.css"  />
	
	<script type="text/javascript" src='/socket.io/socket.io.js'></script>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- <script src="js/front/jquery-1.11.2.min.js"></script> -->
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-scroll/angular-scroll.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-touch/angular-touch.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<!--<script type="text/javascript" src="/js/directives/animate/animate.js"></script>
<script type="text/javascript" src="/js/directives/favLang/favLang.js"></script>-->
<script type="text/javascript" src="/js/directives/main/main.js"></script>
<script type="text/javascript" src="/js/directives/main/header.js"></script>
<script type="text/javascript" src="/js/directives/main/contact.js"></script>
</head>
<body>
<!-- Header -->
<!--<data-ng-include src="'partials/main/_header.html'"></data-ng-include>-->
<header-display></header-display>
<!-- end .header -->
    <!-- Sections -->
    <div class="sections">
        <div class="sections-wrapper clearfix">
	<div data-ng-view class="view-frame" data-autoscroll="true"></div>
    </div>
        <!-- end .sections-wrapper -->
    </div>
    <!-- end .sections -->
	<!-- Footer -->
	<data-ng-include src="'partials/main/_footer.html'"></data-ng-include>
	<!-- end .footer -->
	<!-- jQuery -->
    <!--<script src="/bower_components/jquery/dist/jquery.min.js"></script>-->
	


</body>
</html>