    <footer class="footer">
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Address</h4>
                        <p>123 Sility, South Corner Street,
                            <br />Melbornem Australia.</p>
                    </div>
                    <!-- end .col-sm-4 -->
                    <div class="col-sm-4">
                        <h4>Connect</h4>
                        <div class="social-icons">
                            <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="social-icon"><i class="fa fa-behance"></i></a>
                            <a href="#" class="social-icon"><i class="fa fa-dribbble"></i></a>
                        </div>
                        <!-- end .social-icons -->
                    </div>
                    <!-- end .col-sm-4 -->
                    <div class="col-sm-4">
                        <h4>Contact</h4>
                        <p>Tel: +61 123-456-7890
                            <br />Mail: Sility@example.com</p>
                    </div>
                    <!-- end .col-sm-4 -->
                </div>
                <!-- end .row -->
            </div>
            <!-- end .container -->
        </div>
        <!-- end .footer -->
        <div class="bottom">Copyright &copy; Sility. All Rights Reserved.</div>
        <!-- end .bottom -->
    </footer>
    <!-- Inview -->
    <script src="/js/front/jquery.inview.min.js"></script>
    <!-- SmoothScroll -->
    <script src="/js/front/smoothscroll.js"></script>
    <!-- jQuery Knob -->
    <script src="/js/front/jquery.knob.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/js/front/owl.carousel.min.js"></script>
    <!-- Isotope -->
    <script src="/js/front/isotope.pkgd.min.js"></script>
    <!-- Images Loaded -->
    <script src="/js/front/imagesloaded.pkgd.min.js"></script>
    <!-- google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCLce-Z8S6mzslVsJ_BPKcBSdpwty7Uu6Q"></script>
    <!--<script src='https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key=AIzaSyCLce-Z8S6mzslVsJ_BPKcBSdpwty7Uu6Q'></script>-->
    <!-- Scripts.js -->
    <script src="/js/front/scripts.js"></script>
    <!-- <script src="/js/front/picker.js"></script> -->