<!-- Section Navigation -->
<div class="section-nav">
	<nav class="section1">
		<a href="#/about" class="forward"><i class="md md-chevron-right"></i></a>
		<a href="#/" class="backward"><i class="md md-chevron-left"></i></a>
	</nav>
</div>
<!-- end .section-nav -->
<!-- Home -->
<section id="section1" class="no-padding-bottom active">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 vertical-center padding-fix">
				<h1>Design<sup>+</sup> Develope<sup>+</sup> Interactive<sup>+</sup> Art<sup>+</sup></h1>
				<p>"The user experience design of a product essentially lies between the intentions of the product and the characteristics of your user."</p>
				<p class="button-row"><a href="#" class="button solid-button white">Hire Me Now</a><a href="#" class="button solid-button purple">Download CV</a>
				</p>
			</div>
			<!-- end .col-sm-7 -->
			<div class="col-sm-5 vertical-center">
				<img src="/img/front/man01.png" alt="man" class="img-responsive section-img">
			</div>
			<!-- end .col-sm-5 -->
		</div>
		<!-- end .row -->
	</div>
	<!-- end .container -->
</section>
            <!-- end #section1 -->